/* Global */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

/* Header and Banner Section */
.header {
  background: rgba(229, 84, 115, 0.1);
  background-repeat: no-repeat;
}

.banner {
  display: flex;
  padding: 85px 70px 0px 200px;
  justify-content: space-between;
  align-items: center;
}

.banner-greeting {
  font-size: 45px;
  padding-bottom: 30px;
}

.banner-description {
  padding-bottom: 35px;
}

.btn-primary {
  border-radius: 8px;
  border: none;
  background: #e55473;
  font-size: 21px;
  font-weight: 700;
  color: white;
  padding: 5px 5px;
  width: 160px;
  height: 54px;
}

.banner-content {
  width: 500px;
}

.banner-flower {
  width: 350px;
  padding-right: 100px;
}

/* header section end*/

/* featured-flowers-container start*/

.featured-flowers {
  padding: 94px;
}

.flower-title {
  font-size: 35px;
  text-align: center;
}

.flower-description {
  padding-top: 20px;
  text-align: center;
}

.violet-flower {
  background: rgba(167, 33, 98, 0.15);
  padding: 55px 20px 0px 20px;

  border-radius: 300px 300px 0px 0px;

  width: 310px;
  height: 428px;
}

.red-flower {
  background: rgba(5, 151, 160, 0.15);
  padding: 55px 20px 0px 20px;

  border-radius: 300px 300px 0px 0px;

  width: 370px;
  height: 430px;
}

.yellow-flower {
  background: rgba(71, 125, 17, 0.15);
  padding: 10px 20px 0px 20px;

  border-radius: 300px 300px 0px 0px;

  width: 314px;
  height: 471px;
}

.featured-flowers-container {
  display: flex;
  gap: 24px;
}

.flower-description {
  padding-bottom: 100px;
}

.flower-tree {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 145.833% */
  text-decoration-line: underline;
}

.flower-tree-title {
  padding-top: 60px;
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px; /* 145.833% */
  text-decoration-line: underline;
}

/* Support Section */

.support {
  display: flex;
  padding: 50px;
  margin: 87px;
  background-color: rgba(39, 39, 39, 0.05);
  justify-content: center;
  gap: 200px;
  text-align: center;
}

.support-icon {
  padding: 30px 25px 30px 0px;
}

.support-icon1,
.support-icon3 {
  padding-top: 30px;
}

.support-icon3 {
  padding-right: 50px;
}

/* Deal Banner */

.span {
  color: #e55473;
}

.banner-deal {
  display: flex;
  padding: 85px 70px 0px 200px;
  justify-content: space-between;
  align-items: center;
}

.banner-deal-content {
  width: 500px;
  align-items: center;
}

.banner-deal-greeting {
  font-size: 34px;
  padding-bottom: 30px;
  text-align: center;
}

.banner-deal-description {
  padding-bottom: 35px;
  text-align: center;
}

.btn-signup {
  border-radius: 8px;
  border: none;
  background: #e55473;
  font-size: 21px;
  font-weight: 700;
  color: white;
  padding: 5px 5px;
  width: 120px;
  height: 54px;
}

.button-align {
  text-align: center;
}

.banner-deal-flower {
  padding-right: 100px;
  width: 318px;
  height: 420px;
  padding-bottom: 40px;
}

/*instagram flowers*/

.instagram-flowers-section {
  padding: 110px;
  text-align: center;
}

.ins-flower-title {
  font-size: 34px;
}

.ins-flower-description {
  padding-top: 30px;
  padding-bottom: 45px;
}

.ins-flower-container {
  display: flex;
  gap: 24px;
}

#insta-flowers img {
  margin: 2%;
  width: 20%;
}

/* Bela Flower */

.bela-flower-container {
  display: flex;
  gap: 100px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  width: 80%;
  justify-content: center;
  margin: auto;
  padding: 50px;
  margin-bottom: 100px;
  align-items: center;
}

.bela-flower-title {
  font-size: 35px;
  padding-bottom: 20px;
}

.bela-flower-description {
  font-size: 20px;
  color: #272727;
}

.bela-img {
  width: 500px;
  border-radius: 20px;
}

/* latest deal section */

.flower-cover {
  background-image: url("../Flower Asset/Rectangle 9.png");
  background-repeat: no-repeat;
  width: 80%;
  margin: auto;
  height: 405px;
  background-size: contain;
}

.flower-cover-title {
  padding-top: 70px;
  text-align: center;
}

.flower-cover-description {
  padding: 10px;
  text-align: center;
  padding-bottom: 40px;
}

input[type="email"] {
  width: 400px;
  height: 54px;
  border: none;
  border-radius: 5px;
}

input::placeholder {
  padding-left: 10px;
}

.btn-sbs {
  border-radius: 8px;
  border: none;
  background: #e55473;
  font-size: 21px;
  font-weight: 700;
  color: white;
  padding: 5px 5px;
  width: 160px;
  height: 54px;
}

/* Footer */

.flower-email {
  display: flex;
  gap: 10px;
  justify-content: center;
  /* padding-left: 260px; */
}

.footer-cover {
  background: #111010;
  background-repeat: no-repeat;

  margin: auto;
  height: 365px;
  background-size: contain;
}

.footer-cover-title {
  color: white;
  padding-top: 70px;
  text-align: center;
  font-size: 35px;
}

.footer-cover-description {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 40px;
  color: rgba(255, 255, 255, 0.9);
}

.footer-end {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  padding-top: p20x;
  padding-bottom: 40px;
}

.span {
  color: #e55473;
}
